{% extends "layout.html" %}

{% block title %}
    Decryption
{% endblock %}

{% block main %}
    <div class="section text-center">
        <form action="/decipher" method="post">
            <h2>DECRYPTION</h2>
            <p>
                Enter the data that you want to decrypt
            </p>
            <div id="cipherText" class="mb-3">
                <label for="key">Decryption key: </label>
                <input type="text" name="key" id="key" autocomplete="off"> <br>
                <label for="ciphertext">Encrypted data: </label>
                <input type="text" name="ciphertext" id="ciphertext">
            </div>
          <button type="submit" class="btn btn-primary">Decrypt</button>
        </form>
        <div id="plainText"></div>
    </div>
{% endblock %}