{% extends "layout.html" %}

{% block title %}
    Decryption
{% endblock %}

{% block main %}
  <div id="table">
    <details>
        <summary>
            <span class="summaryText">Your Last 5 Encryptions</span>
        </summary>
        <table class="table">
            <thead>
                <th>Encrypted Data</th>
                <th>Decryption Key</th>
                <th></th>
            </thead>
            <tbody>
                {% for data in cipher_data %}
                    <tr>
                        <td>
                            <input type="text" id="encData" value="{{ data['cipher_text'] }}">
                            <button class="btn btn-primary" onclick="copyEncryptedData()">Copy Text</button>
                        </td>
                        <td>
                            <input type="text" id="d_key" value="{{ data['d_key'] }}">
                            <button class="btn btn-primary" onclick="copyDecryptionKey()">Copy Text</button>
                        </td>
                        <td>
                            <form action="/delete" method="post">
                                <input type="hidden" name="data_id" value="{{ data['id'] }}">
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </details>
    
  </div>
  </div>
    <div class="section text-center">
        <h2>
            Enter the data that you want to decrypt
        </h2>
        <div class="form mb-3">
            <form action="/decrypt" method="post">
                <div id="cipherText" class="mb-3">
                    <label for="ciphertext">Encrypted data: </label>
                    <input type="text" name="ciphertext" id="ciphertext" autocomplete="off" autofocus>
                </div>
                <div id="decryptionKey" class="mb-3">
                    <label for="key">Decryption key: </label>
                    <input type="text" name="key" id="key" autocomplete="off">
                </div>
                <button type="submit" class="btn btn-primary">Decrypt</button>
            </form>
        </div>
        
        {% if not txt %}
        {% else %}
        <div class="decryptedData">
            <span id="d_Data">Decrypted Data</span>: <input type="text" id="decryptedData" value="{{txt}}">
            <button class="btn btn-primary" onclick="copyDecryptedData()">Copy Text</button>
        </div>
        {% endif %}
    </div>
{% endblock %}