{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="section">
        <h1>Welcome to my Cipher web app</h1>
        <img src="https://cdn.pixabay.com/photo/2018/05/14/16/25/cyber-security-3400657_960_720.jpg" alt="Cyber Security image" id="cyberImg">
    </div>
    <div class="section">
            <div id="data">
                <p>
                    My Cipher App is a web application that provides users with the ability to securely communicate in private and secure ways. It is designed to be an easy-to-use tool that affords users with the capability to securely chat and share sensitive information.
                </p>
                <p>
                    It is based on the Caesar cipher model, which encrypts data using a key. However, this is a complex innovation thereof and offers much more security as the key is not only randomly chosen, but also encrypted.
                </p>
                <h3 class="text-center">Looking into the future</h3>
                <hr>
                <p>
                    The app would be a more complex innovation of the Caesar cipher in that it would allow for more than just a simple substitution of letters. The app would instead allow for the substitution of entire words or phrases, making it much more difficult to break the code.
                </p> 
                <hr>
            </div>
    </div>
{% endblock %}